body{
    background-image: url(/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
}
button{
    border: 2px solid black;
    color: white;
    font-weight: bold;
    width: 200px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}
#increment-btn{
    background: darkred;
}
#save-btn{
    background: darkgreen;
}